.App {
  text-align: center;
}

.lang {
  width: 30px;
  height: 30px;
  margin: 3px;
  align-content: center;
  
}

.lang:hover {
  cursor: pointer;
  opacity: 0.7;
}

.lang:active{
  padding: 1px;
}

.error {
  border: 2px solid red;
}

input:focus {
box-shadow: 0 0 10px rgb(49, 42, 42);
}

.error:focus {
  outline: none !important;
  border: 2px solid red !important;
}