body {background-color: lightgray;}
.nupp {
  background-color: green;
  color: gray;
}

.nupp:hover {
  height: 100px;
  width: 100px;
}

.nupp:active{
  cursor: grab;
}

.text{
  color: blue;
  font-style: italic;
}

.text:hover {
font-size: 24px;
}

.tekst{
  color: green;
  font-size: 20px;
  font-weight: bold;
  border: solid 10px red;
}

.tekst:hover{
  border: solid 10px brown;
  
}

.pilt{
  height: 200px;
  width: 200px;
  float: right;
}

.pilt:hover{
  border-radius: 10px;
}

.pilt:active{
  opacity: 0.5;
}