.pilt {
  height: 150px;
  width: 150px;
}



.pilt:hover {
  cursor: pointer;
  opacity: 0,7;
}


.pilt:active {
  border-radius: 10px;
  transform: rotate(180deg);
}

.nupp {
  background-color: red;
  color: black;
}

.nupp:hover{
  background-color: antiquewhite;
  border: 3px dotted black;
}

.nupp:active{
  background-color: aqua;
  text-decoration: underline;
}

.kuldne{
  color: goldenrod;

}

.tume-leht {
  background-color: black;
  color: white;
  min-height: 100vh;
}

.hele-leht {
  background-color: aliceblue;
  min-height: 100vh;
}

.aktiivne{
  background-color: rgb(236, 243, 236);
  border: 1px solid green;
}

.mitteaktiivne{
  background-color: rgb(223, 205, 205);
  border: 1px solid red;
}