.pilt {
  height: 150px;
  width: 150px;
}



.pilt:hover {
  cursor: pointer;
  opacity: 0,7;
}


.pilt:active {
  border-radius: 10px;
  transform: rotate(180deg);
}

.nupp {
  background-color: red;
  color: black;
}

.nupp:hover{
  background-color: antiquewhite;
  border: 3px dotted black;
}

.nupp:active{
  background-color: aqua;
  text-decoration: underline;
}